<h1>{{message}}</h1>

<div contenteditable="true" [(contenteditableModel)]="message"></div>

<input-model-selected focus-me [(model)]="message"></input-model-selected>

<div>
  <button [ngClass]="{ 'active': s == state }" (click)="setState(s)" [value]="s" *ngFor="let s of states">
    {{ s }}
  </button>
</div>

<div>
  <label *ngFor="let s of (states | invert)">
    <input type="radio" name="states" [value]="s" [(ngModel)]="state" />
    {{ s }}
  </label>
</div>

<span *ngIf="state == 'open' || state == 'closed'">
  {{ state | invert }}
</span>

<div [ngSwitch]="state" [hidden]="state == 'waiting'">
  <div *ngSwitchCase="'open'">OPEN</div>
  <div *ngSwitchCase="'closed'">CLOSED</div>
  <div *ngSwitchCase="'waiting'">WAITING</div>
  <div *ngSwitchDefault></div>
</div>
